.author {
    margin-left: 10px;
    display: inline-block;
    font-size: .8em;
}


blockquote {
    /*float: left;*/
    margin: 10px;
    border: 1px solid rgba(47, 164, 231, .2);
    border-left: 5px solid rgba(47, 164, 231, .2);
}

blockquote button {
    margin-left:10px;
}

div.quote {
    margin-right: 30px;
}

.quotes-container blockquote{
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
}

.random-quote {
    margin: 20px;
    margin-bottom: 50px;
    text-align: center;
    border: none; /*5px solid rgba(47, 164, 231, .5);*/
    /*border-left: 5px solid rgba(0,0,0, .2);*/
}

body{
    background-color: aliceblue;
}

.well {
    background-color: rgba(47, 164, 231, .6);
    border-color: rgba(47, 164, 231, 1);
}
input, textarea {
    border-color: rgb(47, 164, 231) !important;
}
