.author {
    margin-left: 10%;
    display: inline-block;
    font-size: .8em;
}


blockquote {
    /*float: left;*/
    margin: 10px;
    border: 1px solid rgba(47, 164, 231, .2);
    border-left: 5px solid rgba(47, 164, 231, .2);
}

blockquote button {
    margin-left:10px;
}

div.quote {
    margin-right: 30px;
}